.beam {
    pointer-events: none;
    position: absolute;
    inset: 0;
    border: calc(var(--border-width) * 1px) solid transparent;
    border-radius: inherit;
    mask: linear-gradient(transparent, transparent), linear-gradient(white, white);
    mask-clip: padding-box, border-box;
    mask-composite: intersect;
}

.beam::after {
    content: "";
    position: absolute;
    aspect-ratio: 1;
    width: calc(var(--size) * 1px);
    background: linear-gradient(to left, var(--color-from), var(--color-to), transparent);
    offset-anchor: calc(var(--anchor) * 1%) 50%;
    offset-path: rect(0 auto auto 0 round calc(var(--size) * 1px));
    animation: border-beam calc(var(--duration) * 1s) infinite linear;
    animation-delay: calc(var(--delay) * 1s);
}

@keyframes border-beam {
    to {
        offset-distance: 100%;
    }
}