.glitch {
    position: relative;
    display: inline-block;
}

.glitch.active::before,
.glitch.active::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.glitch.active::before {
    animation: glitch-1 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    color: #00ffff;
    z-index: -1;
}

.glitch.active::after {
    animation: glitch-2 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both;
    color: #ff00ff;
    z-index: -2;
}

@keyframes glitch-1 {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-3px, 3px);
    }

    40% {
        transform: translate(-3px, -3px);
    }

    60% {
        transform: translate(3px, 3px);
    }

    80% {
        transform: translate(3px, -3px);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes glitch-2 {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(3px, -3px);
    }

    40% {
        transform: translate(3px, 3px);
    }

    60% {
        transform: translate(-3px, -3px);
    }

    80% {
        transform: translate(-3px, 3px);
    }

    100% {
        transform: translate(0);
    }
}