.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.starLine {
    stroke-linecap: round;
    filter: drop-shadow(0 0 2px #0070f3);
    animation: shoot 1s linear forwards;
}

@keyframes shoot {
    from {
        stroke-dasharray: 0 1000;
        stroke-dashoffset: 0;
        opacity: 1;
    }

    to {
        stroke-dasharray: 1000 0;
        stroke-dashoffset: -1000;
        opacity: 0;
    }
}